@using DMS.Migration.Web.Extensions
@{
    var toasts = TempData.GetToasts();
}

<!-- Toast Container -->
<div aria-live="polite" aria-atomic="true" style="position: fixed; top: 70px; right: 20px; z-index: 9999;">
    <div id="toast-container"></div>
</div>

@if (toasts.Any())
{
    <script id="toast-data" type="application/json">
            @Html.Raw(System.Text.Json.JsonSerializer.Serialize(toasts))
        </script>
}